body {
    background-image: url(../images/oldCouple.jpg);
    background-size: 100%, 75%;
    /*background-color:#b22222; */
}

.jumbotron {
    width: 90%; 
    margin-left: 5%;
    margin-top: 5%;
    opacity: 0.85;
    border: black 2px ridge;
    text-align: center;
}

#lovePic {
    height: 230px;
    width: 300px;
}

#survey {
    margin-left: 3%;
    border: black 2px ridge;
    margin-bottom: 3%;
}

#select{
	text-align: left;
    width: 35%;
}

.Links {
    margin-left: 3%;
    font-weight: bold;
    font-size: 18px;
}
#question{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

option{
    width: 50%;
}


p {
    margin-left: 3%;
}

h1 {
    margin-left: 3%;
}

